// Auto genetated file
[
{
"name" : "sip - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sip" 
}
,
{
"name" : "sip - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sip" 
}
,
{
"name" : "sip - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sip" 
}
,
{
"name" : "sip - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sip" 
}
,
{
"name" : "sip - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sip" 
}
,
{
"name" : "sip - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sip" 
}
,
{
"name" : "half - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "half" 
}
,
{
"name" : "half - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "half" 
}
,
{
"name" : "half - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "half" 
}
,
{
"name" : "half - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "half" 
}
,
{
"name" : "half - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "half" 
}
,
{
"name" : "half - x86_16_huge" ,
"files" : "all" ,
"machdep" : "x86_16_huge" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "half" 
}
]
